* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: 'Poppins', sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timelines {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timelines::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #eeeeee;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.workex h2 {
  margin-bottom: 50px;
}

#accordionExample {
  width: 70%;
  margin: 20px auto;
}

.card-header {
  background: none;
  border: none;
}

.card {
  border: none;
  text-align: left;
}

.card-body {
  padding: 5px 20px;
}

.card-header {
  padding: 0;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Container around content */
.containers {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containers::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #00d2ff;
  border: 6px solid #e4e3e3;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
  /* text-align: right; */
}

/* Place the container to the right */
.right {
  left: 50%;
  /* text-align: left; */
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 25px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.contents {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 5px 20px 5px rgba(0,0,0,0.25);
-moz-box-shadow: 0 5px 20px 5px rgba(0,0,0,0.15);
box-shadow: 0 5px 20px 5px rgba(0,0,0,0.15);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
.profileImage {
  width: 70%;
}

@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timelines::after {
    left: 29px;
  }

  .profileImage {
    width: 90%;
  }

  #accordionExample {
    width: 100%;
  }

  .workex {
    padding: 80px 0;
  }

/* Full-width containers */
  .containers {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .containers::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  /* .right, .left {
    text-align: left;
  } */
}

.profile {
  padding: 0 7%;
}

.profile img {
  box-shadow: none;
}

.banner {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  padding: 150px 10px 80px;
  color: white;
}

.banner h1 {
  font-size: 50px;
}
